:root {
    --yellow: #F5C32C;
    --orange: #FCA61F;
    --blueCard: #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    /*  */
    --main-bg: var(--main-bg-dark);
    --black: var(--txt-color-light);
    --card-bg: var(--card-bg-light);
    --gray: var(--gray-light);
    /*  */
    --main-bg-light: #ffffff;
    --txt-color-light: #242D49;
    --card-bg-light: rgba(255, 255, 255, 0.26);
    --gray-light: #788097;
    /*  */
    --main-bg-dark: #2d2d2d;
    --txt-color-dark: #fff;
    --card-bg-dark: rgb(165 165 165 / 26%);
    --gray-dark: #b9babb;
}

html {
    scroll-behavior: smooth;
}

.App {
    overflow: hidden;
    color: var(--black);
}

.button {
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: -1px 9px 24px 3px rgb(251 161 40 / 42%)
}

.button:hover {
    cursor: pointer;
    background: #fff;
    color: var(--orange) !important;
    border: 1px solid var(--orange);
}

@media screen and (max-width: 480px) {
    .App .layout {
        padding: .5rem 1.2rem;
    }
}